/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #ECECEC;
    color: #003B49;
}

nav {
    background-color: #5A7D7C;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #FFC72C;
    padding: 10px;
}

nav ul li a.current {
    color: #FFC72C;
    background-color: #003B49;
}

form {
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #003B49;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.description {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}
